<!DOCTYPE html>
<html lang="en-US">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/dist/css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='angular-xeditable/dist/css/xeditable.css') }}">

<script src="{{ url_for('static', filename='angular/angular.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='angular-xeditable/dist/js/xeditable.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>

<body>
